body {
    background: linear-gradient(#F2F2F2, #80B4BF, #65858C, #193C40) fixed;
    font-family: 'Montserrat', monospace;
    color: #88d6f0;
    /* background-image: url(https://cdn.wallpapersafari.com/97/22/xA0M9g.jpg); */
    /* background-image: url(https://wallpapercave.com/wp/wp2741754.jpg); */
    background-image: url(http://cdn.wallpaperhi.com/1920x1080/20120209/outer%20space%20dust%201920x1080%20wallpaper_www.wallpaperhi.com_52.jpg);
}

header {
    text-align: center;
    font-size: 20px;
}
#main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
#zodiacs img {
    height: 800px;
    width: 1200px;
    /* margin: 20px; */
}
#signDetails {
    border: 2px solid #88d6f0;
    width: 600px;
    height: auto;
    background: linear-gradient(#F2F2F2, #80B4BF, #65858C, #0a4349) fixed;
}
#title {
    background-color: #333333;
    padding: 5px;
    text-align: center;
}
#zodiacName {
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
}
#zodiacRange {
    color: #3e8fde;
    font-size: 14px;
    padding-bottom: 5px;
    font-style: italic;
}
#month {
    font-size: 18px;
}
#bestDays, #worstDays {
    font-weight: bold;
} 

#predictionInfo {
    font-size: 18px;
    padding: 5px;
    background: -webkit-linear-gradient(#000, rgb(1, 12, 80));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}